ansible==2.10.4
ansible-base==2.10.4
autopep8==1.5.4
aws-mfa==0.0.12
boto3==1.16.28
botocore==1.19.28
cffi==1.14.4
cryptography==3.3.1
Jinja2==2.11.2
jmespath==0.10.0
MarkupSafe==1.1.1
packaging==20.8
pycodestyle==2.6.0
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.3.1
s3transfer==0.3.3
six==1.15.0
toml==0.10.2
urllib3==1.26.2
